<article id="<%= dom_id recipe %>" class="shadow-sm rounded h-full bg-white overflow-hidden" >
  <%= link_to recipe_path(recipe), data: { test_id: 'show_recipe' } do %>
    <%= image_tag recipe.image_url, class: 'w-full object-cover h-32 sm:h-48' %>

    <header class="py-2 px-2">
      <h3 class="font-semibold mb-2 text-lg leading-tight"><%= recipe.name.capitalize %></h3>
      <%= rating_stars recipe %>
    </header>
  <% end %>
</article>
