<main class="bg-gray-100">
  <section class="container mx-auto px-4 pt-6 lg:px-12 xl:px-48">
    <ul class="grid gap-x-6 gap-y-4 sm:grid-cols-2 lg:grid-cols-3">
      <%= render partial: "recipe", collection: @recipes, layout: "list_item_layout", cached: true %>
    </ul>

    <div class="pt-4 pb-6 text-center">
      <%= render 'shared/pagination', pagy: @pagy %>
    </div>
  </section>
</main>
