<main class="bg-gray-100 h-screen sm:pt-6">
  <% cache @recipe do %>
    <div class="max-w-prose mx-auto bg-white sm:rounded-md">
      <header id="recipe_header" class="px-4 py-6 border-b lg:px-12">
        <h2 class="text-center text-2xl font-medium text-gray-700"><%= @recipe.name.capitalize %></h2>

        <div class="text-sm text-gray-900 mt-4 flex justify-between">
          <%= rating_stars(@recipe) %>
          <p>Par @<%= @recipe.author %></p>
        </div>
      </header>

      <section id="recipe_details" class="px-4 py-6 lg:px-12 border-b">
        <dl class="grid grid-cols-2">
          <div class="mb-4">
            <dt class="text-sm text-gray-500"><%= Recipe.human_attribute_name(:difficulty) %></dt>
            <dd class="text-sm text-gray-900"><%= @recipe.difficulty %></dd>
          </div>
          <div class="mb-4">
            <dt class="text-sm text-gray-500"><%= Recipe.human_attribute_name(:budget) %></dt>
            <dd class="text-sm text-gray-900"><%= @recipe.budget %></dd>
          </div>
          <div class="mb-4">
            <dt class="text-sm text-gray-500"><%= Recipe.human_attribute_name(:servings) %></dt>
            <dd class="text-sm text-gray-900"><%= @recipe.servings %></dd>
          </div>
          <div class="mb-4">
            <dt class="text-sm text-gray-500"><%= Recipe.human_attribute_name(:preparation_time) %></dt>
            <dd class="text-sm text-gray-900"><%= @recipe.preparation_time %></dd>
          </div>
          <div class="mb-4">
            <dt class="text-sm text-gray-500"><%= Recipe.human_attribute_name(:cooking_time) %></dt>
            <dd class="text-sm text-gray-900"><%= @recipe.cooking_time %></dd>
          </div>
          <div>
            <dt class="text-sm text-gray-500"><%= Recipe.human_attribute_name(:total_time) %></dt>
            <dd class="text-sm text-gray-900"><%= @recipe.total_time %></dd>
          </div>
        </dl>
      </section>

      <section id="recipe_ingredients" class="px-4 py-6 lg:px-12">
        <ul class="list-inside list-disc">
          <% @recipe.ingredients.each do |ingredient| %>
            <li class="text-sm text-gray-900 mb-2"><%= ingredient %></li>
          <% end %>
        </ul>
      </section>
    </div>
  <% end %>
</main>
