<%#
  This template is i18n-ready: if you don't use i18n, then you can replace the pagy_t
  calls with the actual strings ("&lsaquo; Prev", "Next &rsaquo;", "&hellip;").

  The link variable is set to a proc that returns the link tag.
  Usage: link.call( page_number [, text [, extra_attributes_string ]])
-%>
<% link = pagy_link_proc(pagy) -%>
<nav aria-label="pager" class="relative z-0 inline-flex rounded-md -space-x-px" role="navigation">
  <% if pagy.prev -%>
    <span class="relative inline-flex items-center px-4 py-2 text-sm font-medium text-gray-700 hover:text-green-300 prev">
      <%== link.call(pagy.prev, pagy_t('pagy.nav.prev'), 'aria-label="previous"') %>
    </span>
  <% end -%>

  <%# series example: [1, :gap, 7, 8, "9", 10, 11, :gap, 36]  %>
  <% pagy.series.each do |item| -%>
    <% if item.is_a?(Integer) -%>
      <span class="relative inline-flex items-center px-4 py-2 text-sm font-medium text-gray-700 hover:text-green-300 hidden sm:block">
        <%== link.call(item) %>
      </span>
    <% elsif item.is_a?(String) -%>
      <span class="relative inline-flex items-center px-4 py-2 text-sm font-medium text-green-300 hover:text-green-300 hidden sm:block">
        <%= item %>
      </span>
    <% elsif item == :gap -%>
      <span class="relative inline-flex items-center px-4 py-2 text-sm font-medium text-gray-700 hover:text-green-300 hidden sm:block">
        <%== pagy_t('pagy.nav.gap') %>
      </span>
    <% end -%>
  <% end -%>

  <% if pagy.next -%>
    <span class="relative inline-flex items-center px-4 py-2 text-sm font-medium text-gray-700 hover:text-green-300 next">
      <%== link.call(pagy.next, pagy_t('pagy.nav.next'), 'aria-label="next"') %>
    </span>
  <% end -%>
</nav>
