<nav class="bg-white pt-6 pb-4 px-2 border-b border-gray-300 md:px-4 lg:px-10 sm:flex sm:space-x-6">
  <%= link_to root_path, class: 'flex justify-center items-center space-x-1' do %>
    <%= inline_svg_tag('icons/cake.svg', class: 'w-8 h-8 text-green-400') %>
    <h1 class="font-medium text-2xl">
      PennyFood
    </h1>
  <% end %>

  <%= form_with url: root_path, method: :get, class: 'mt-4 flex-grow sm:mt-0 lg:px-10' do |f| %>
    <%= f.label :query, "List of ingredients", class: 'sr-only' %>

    <div class="relative mt-1 rounded-md shadow-sm">
      <%= f.search_field :query,
                        value: search,
                        minlength: 3,
                        placeholder: "E.g. Nutella Creme Chorizo",
                        class: "focus:ring-green-400 focus:border-green-400 block w-full pl-7 pr-12 sm:text-sm border-gray-300 rounded-md" %>

      <div class="absolute inset-y-0 right-0 flex items-center">
        <%= f.button name: nil, data: { test_id: 'search_button' }, class: 'block text-center leading-0 text-xl absolute top-2 right-2 text-gray-400 focus:outline-none hover:text-gray-900 transition-colors' do %>
          <%= inline_svg_tag('icons/search.svg') %>
        <% end %>
      </div>
    </div>
  <% end %>
</nav>
